<!DOCTYPE html>
<html>
  <head>
    <title> Order Success </title>
  </head>
  <body>

    <img style="width : 100%; height: auto;" src="https://s3.ap-northeast-2.amazonaws.com/goodgid-s3/complete_img.png" />

  </body>
</html>



